* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: mont-reg;
}

body {
  width: 100%;
}

header {
  background-color: black;
  color: #e6e6e6;
}

@font-face {
  font-family: mont-exBold;
  src: url(./fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: mont-reg;
  src: url(./fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: mont-thin;
  src: url(./fonts/Montserrat-Thin.ttf);
}
