* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: mont-reg;
}

html {
  font-size: 62.5%;
  height: 100vh;
}

body {
  width: 100vw;
  background-color: #f5f6fd;
}
.grid_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 10% 40% 45%);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: #44a4f2;
}
.header-container h1 {
  font-size: 1.9rem;
}
.header-nav-container {
  width: 20%;
}
.header-container ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  /* padding: 1rem; */
}
.header-nav-container li a {
  padding: 0.2rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
.header-nav-container li a:hover {
  background-color: #44a4f2;
  color: aliceblue;
  transition: all 0.4s;
}

/* main links tab*/
.main-links-navbar {
  height: 80vh;
  border-right: 1px solid black;
}
.main-links-navbar ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1.5rem;
  height: 50vh;
}
.main-li {
  cursor: pointer;
  padding: 1rem;
}
.main-li:hover {
  background-color: #44a4f2;
  color: aliceblue;
  transition: all 0.5s;
}

/* customer tab, deposit tab, withdraw tab */
.client-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client-container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.add-client-form,
.deposit-client-form,
.withdraw-client-form,
.wrapper-transfer {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  padding: 1rem 1.5rem;
  box-shadow: 9px 9px 18px #94a9e4, -9px -9px 18px #ffffff;
  border-radius: 5px;
  margin-top: 5rem;
  background-color: #44a4f2;
  color: aliceblue;
}
.add-client-form input,
.deposit-client-form input,
.withdraw-client-form input {
  width: 40rem;
  padding: 0.8rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.transfer-client-form input {
  width: 25rem;
  padding: 0.8rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}
.client-btn {
  /* background-color: #44a4f2; */
  background-color: black;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 3px;
  color: #f1f2ff;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.client-btn:hover,
#search-btn:hover {
  color: black;
  background-color: #f1f2ff;
  transition: all 0.5s;
}

/* transfer tab */
.transfer-client-form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
}
.transfer {
  display: flex;
  flex-direction: column;
}
.transfer h2 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}
#transfer-btn {
  margin-top: 1.2rem;
}

/* client directory table */
.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
fieldset {
  width: 40vw;
  height: 60vh;
  margin-top: 4rem;
}
legend {
  text-align: center;
  font-size: 2.5rem;
  font-family: mont-exBold;
}
table {
  width: 100%;
}
th,
td {
  font-size: 1.5rem;
  text-align: left;
}
.client-row:nth-child(odd) {
  background-color: #dcdcdc;
}

/* search container */
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
#search-bar {
  width: 30rem;
}
#search-btn {
  background-color: #44a4f2;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 5px;
  color: #f1f2ff;
  font-size: 1.5rem;
  margin-left: 2rem;
}

/* footer */
footer {
  display: grid;
  grid-template-columns: repeat(3, 10% 70% 20%);
  position: absolute;
  width: 100%;
  padding: 1rem;
  bottom: 0;
}
.soc_med_container {
  display: flex;
  justify-content: space-evenly;
}
.nocopyright {
  display: flex;
  justify-content: space-around;
}
footer img {
  width: 15px;
  cursor: pointer;
}

/* fonts */
@font-face {
  src: url(../fonts/Montserrat-Regular.ttf);
  font-family: mont-reg;
}

@font-face {
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-family: mont-exBold;
}

.active {
  background-color: #44a4f2;
  color: #dcdcdc;
}
.hidden {
  display: none;
}
img {
  width: 20px;
}
