* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: mont-reg;
}

body {
  width: 100%;
  height: 90vh;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #e6e6e6;
}
.socMed_links {
  width: 20px;
  cursor: pointer;
}
#github {
  filter: invert(1);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
main div {
  display: grid;
  grid-template-columns: 0.8fr 0.8fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    'featured featured form'
    'featured featured b'
    'tictactoe calculator c';
  gap: 0.6rem;
}
.featured {
  grid-area: featured;
}
#tictactoe {
  grid-area: tictactoe;
}
#calculator {
  grid-area: calculator;
}
#a {
  grid-area: a;
}
#b {
  grid-area: b;
}
#c {
  grid-area: c;
}
.featured img {
  width: 40.6rem;
  height: 20.9rem;
}
main div a img {
  width: 20rem;
  height: 10rem;
}
@font-face {
  font-family: mont-exBold;
  src: url(../assests/fonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: mont-reg;
  src: url(../assests/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: mont-thin;
  src: url(../assests/fonts/Montserrat-Thin.ttf);
}
